@font-face {
  font-family: 'Freight';
  src: url('../assets/fonts/Freight-BigBook.woff2') format('woff2'),
    url('../assets/fonts/Freight-BigBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('../assets/fonts/GTAmerica-Light.woff2') format('woff2'),
    url('../assets/fonts/GTAmerica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}