//Sizes
$big-title: 170px;
$big-title-mobile: 17.3vw;
$tagline: 70px;
$tagline-small: 35px;
$layout: 14px;
$title: 50px;
$title-mobile: 8vw;
$text: 20px;
$cta: 16px;

//Colors
$team: #171717;
$gray: #707070;
$black: #000;
$white: #FFF;
$services: #E9E7E4;
$background: #F5F4F2;
$gray-on-black: #838383;

//Fonts

$america: 'GT America',
sans-serif;
$freight: 'Freight',
serif;
$light: 300;